openapi: 3.0.3
info:
  title: Payment Service API
  description: API para procesamiento de pagos bancarios - Banco del Pacífico
  version: 1.0.0
  contact:
    name: Nova Solution Systems
    email: api-support@novasolutionsystems.com

servers:
  - url: https://api.bancoPacifico.com.mx/api/v1
    description: Production server
  - url: https://api-staging.bancoPacifico.com.mx/api/v1
    description: Staging server

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtenido del endpoint /auth/login

  schemas:
    PaymentRequest:
      type: object
      required:
        - sourceAccountId
        - destinationAccountId
        - amount
        - currency
      properties:
        sourceAccountId:
          type: string
          pattern: '^ACC-[0-9]{10}$'
          example: ACC-1234567890
        destinationAccountId:
          type: string
          pattern: '^ACC-[0-9]{10}$'
          example: ACC-0987654321
        amount:
          type: number
          format: double
          minimum: 0.01
          maximum: 1000000
          example: 15000.50
        currency:
          type: string
          enum: [MXN, USD]
          example: MXN
        reference:
          type: string
          maxLength: 100
          example: Pago de servicios

    PaymentResponse:
      type: object
      properties:
        transactionId:
          type: string
          example: TXN-2025012700001
        status:
          type: string
          enum: [PENDING, COMPLETED, FAILED]
          example: COMPLETED
        timestamp:
          type: string
          format: date-time
        amount:
          type: number
          format: double

    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time

paths:
  /payments:
    post:
      summary: Crear nuevo pago
      description: Procesa una transferencia entre cuentas bancarias
      operationId: createPayment
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '201':
          description: Pago creado exitosamente
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Número máximo de requests por hora
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests restantes en la ventana actual
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Request inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
        '403':
          description: Sin permisos suficientes
        '409':
          description: Fondos insuficientes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /payments/{transactionId}:
    get:
      summary: Consultar estado de pago
      operationId: getPaymentStatus
      security:
        - BearerAuth: []
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
            pattern: '^TXN-[0-9]{13}$'
      responses:
        '200':
          description: Pago encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '404':
          description: Pago no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
